version: '2'
services:
  api:
    build: ./golang
    container_name: umr-api
    restart: always
    working_dir: "/.go/src/github.com/kindaidensan/UMR/"
    ports:
      - "8040:8040"
    volumes:
      - "./server:/.go/src/github.com/kindaidensan/UMR/"
    depends_on:
      - ldap
      - redis
      - mysql
    tty: true
  ldap:
    build: ./openldap
    container_name: umr-openldap
    restart: always
    command: bash -c '/usr/local/libexec/slapd -h "ldap:/// ldapi:///" && bash'
    ports:
      - "389:389"
    volumes:
      - ./ldap:/usr/local/var/openldap-data
    tty: true
  redis:
    image: redis:6.0-rc1-alpine3.11
    container_name: umr-redis 
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - "./redis:/data"
  mysql:
    image: mysql:5.7
    container_name: umr-mysql 
    restart: always
    volumes:
        - "./mysql:/var/lib/mysql"
    ports:
        - "3306:3306"
    environment:
        - MYSQL_ROOT_PASSWORD=densan
    