version: '2'
services:
  api:
    build: ./golang
    container_name: umr-api
    restart: always
    working_dir: "/.go/src/github.com/kindaidensan/UMR/"
    command: go run main.go
    ports:
      - "127.0.0.1:8040:8040"
    volumes:
      - "./server:/.go/src/github.com/kindaidensan/UMR/"
    depends_on:
      - ldap
      - redis
      - mysql
    tty: true
  client:
    build: ./nodejs
    container_name: umr-client
    restart: always
    working_dir: "/src"
    command: yarn start
    ports:
      - "127.0.0.1:8050:3000"
    volumes:
      - "./client:/src"
    tty: true
  ldap:
    build: ./openldap
    container_name: umr-openldap
    restart: always
    command: bash -c '/usr/local/libexec/slapd -h "ldap:/// ldapi:///" && bash'
    ports:
      - "127.0.0.1:389:389"
    volumes:
      - ./ldap:/usr/local/var/openldap-data
    tty: true
  redis:
    image: redis:6.0-rc1-alpine3.11
    container_name: umr-redis 
    restart: always
    volumes:
      - "./redis:/data"
  mysql:
    image: mysql:5.7
    container_name: umr-mysql
    restart: always
    environment:
      - "MYSQL_ROOT_PASSWORD=densan"
    volumes:
      - "./mysql:/var/lib/mysql"
      - "./mysql_init:/docker-entrypoint-initdb.d"