version: '2'
services:
  nginx:
    image: nginx:1.17
    container_name: umr-nginx
    restart: always
    ports:
      - "3080:80"
    volumes:
      - "./nginx:/etc/nginx/conf.d/"
    depends_on: 
      - api
      - client
  api:
    build: ./golang
    container_name: umr-api
    restart: always
    working_dir: "/.go/src/github.com/kindaidensan/UMR/"
    command: ash 
    ports:
      - "8040:8040"
    volumes:
      - "./server:/.go/src/github.com/kindaidensan/UMR/"
    depends_on:
      - ldap
      - redis
      - smtp
    tty: true
  client:
    build: ./nodejs
    container_name: umr-client
    restart: always
    working_dir: "/src"
    ports:
      - "8050:3000"
    volumes:
      - "./client:/src"
    tty: true
  ldap:
    build: ./openldap
    container_name: umr-openldap
    restart: always
    command: bash -c '/usr/local/libexec/slapd -h "ldap:/// ldapi:///" && bash'
    ports:
      - "389:389"
    volumes:
      - ./ldap:/usr/local/var/openldap-data
    tty: true
  redis:
    image: redis:6.0-rc1-alpine3.11
    container_name: umr-redis 
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - "./redis:/data"
  smtp:
    image: schickling/mailcatcher
    container_name: umr-smtp
    restart: always